{% extends "layout.html" %}
{% block content %}

<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="csvfile" accept="text/csv">
  <button type="submit">upload</button>
</form>

{% if showcols %}
<div>
  <form class="form-inline" method="POST" action="/selectcol">
      <p>ファイル名：{{uploadfile}}<p>
      <p>列を選択してください</p>
      <select name="datacolumns">
          <label for="name">使用するデータセットを選択してください</label>
          {% for i in showcols %}
          <option value='{{i|e}}'>{{ i|e }}</option>
          {% endfor %}
      </select>
      <p>使用する分布を選択してください</p>
      <input type="checkbox" name="dist" value="norm" checked="checked">norm
      <input type="checkbox" name="dist" value="gamma">gamma
      <input type="checkbox" name="dist" value="rayleigh">rayleigh
      <input type="checkbox" name="dist" value="beta">beta
      <input type="checkbox" name="dist" value="chi2">chi2

      <button type="submit" class="btn btn-default">Go</button>
  </form>
</div>
{% endif %}

{% if images %}
    <div>
    <img src="/static/{{ images }}">
    {{ images }}
    </div>
    <div>
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
    </div>
{% endif %}   


<!--
{% if images %}
  {% for path in images %}
    <div>
      <img src="/static/{{ path }}">
      {{ path }}
    </div>
  {% endfor %}
{% endif %}   
  -->

{% endblock %}